<% if team.errors.any? %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(team) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, placeholder: "Awesome Team Name", class: "form-control" %>
    </div>

    <%= f.submit "Save Team", class: "btn btn-success" %>
  </fieldset>
<% end %>

