<h1>New File</h1>

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
<% end %>

<%= form_tag(project_files_path, method: "post", multipart: true) do  %>
  <div class="form-group">
    <%= label_tag(:file, "Upload File:") %>
    <%= file_field_tag :file %>
  </div>

  <%= submit_tag("Submit", class: "btn btn-default") %>
<% end %>

<%= link_to 'Back', project_path(@project_id) %>
