<%= render '/projects/project_header' %>

<%= render :layout => '/projects/project_panel', :locals => {:menu => { files: true } } do %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @file[:name] %>
      <% if ::Projects::Files::Policy.allowed_actions(current_user&.id, @project_id).include?(:download) %>
          <%= link_to "Download", project_file_download_path(@project_id, @file[:name]), class: "download-file" %>
      <% end %>
    </div>
    <div class="panel-body">
      <% if @file[:binary] %>
        <p>Sorry, I can't render a binary file. But you can also download this file.</p>
      <% else %>
        <pre class="prettyprint"><%= @file[:content] %></pre>
      <% end %>
    </div>
  </div>

<% end %>
