<%= form_tag(project_collaborator_path(project_id, user_role.id), method: "put", class: "form-inline") do  %>
  <div class="form-group">
    <label class="sr-only">Email</label>
    <p class="form-control-static"><%= user.email %></p>
  </div>

  <div class="form-group">
    <% @selected_user_role = user_role %>
    <%= select(:selected_user_role, :role, [["Reader", "reader"], ["Writer", "writer"], ["Owner", "owner"]], {}, { :class => "form-control" }) %>
  </div>

  <%= submit_tag("Update", class: "btn btn-default") %>

  <div class="form-group">
    <%= link_to "Destroy", project_collaborator_path(project_id, user_role.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>




