<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @project.private %>
</p>

<%= render 'file_list', project_id: @project.id, files: @files %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Collaborators', project_collaborators_path(@project) %> |
<%= link_to 'Teams', project_teams_path(@project) %> |
<%= link_to 'Suggestions', project_suggestions_path(@project) %> |
<%= link_to 'Add File', new_project_file_path(@project) %>
