<%= render '/projects/project_header' %>

<%= render :layout => '/projects/project_panel', :locals => {:menu => { suggestions: true } } do %>

  <% if @suggestions.size > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @suggestions.each do |suggestion| %>
          <tr>
            <td><%= link_to suggestion.title, project_suggestion_path(@project_id, suggestion) %></td>
            <td>
              <% if ::Projects::Suggestions::Policy.allowed_actions(current_user&.id, @project_id, suggestion.id).include?(:edit) %>
                <%= link_to "Edit", edit_project_suggestion_path(@project_id, suggestion) %> |
              <% end %>

              <% if ::Projects::Suggestions::Policy.allowed_actions(current_user&.id, @project_id, suggestion.id).include?(:destroy) %>
                <%= link_to "Destroy", project_suggestion_path(@project_id, suggestion), method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>

              <% if ::Projects::Suggestions::Policy.allowed_actions(current_user&.id, @project_id, suggestion.id).include?(:accept) %>
                | <%= link_to "Accept", project_suggestion_accept_path(@project_id, suggestion), :method=> :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No one made a suggestion. Go ahead and make a new one!</p>
  <% end %>

  <br>

  <%= link_to new_project_suggestion_path(@project_id) do %>
    <button type="button" class="btn btn-success">New Suggestion</button>
  <% end %>

<% end %>
