<%= render '/projects/project_header' %>

<%= render :layout => '/projects/project_panel', :locals => {:menu => { suggestions: true } } do %>


<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h3><%= @suggestion.title %></h3>
        <p><%= @suggestion.description %></p>
        <% if ::Projects::Suggestions::Policy.allowed_actions(current_user&.id, @project_id, @suggestion.id).include?(:edit) %>
          <%= link_to 'Edit Suggestion', edit_project_suggestion_path(@project_id, @suggestion) %>
        <% end %>
      </div>
      <div class="panel-body">
        <h3>Modifications</h3>
        <div class="suggestion-diff"><%= @diff.force_encoding("UTF-8") %></div>
      </div>
    </div>
  </div>
</div>
<% end %>
